*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.section{
    
}
.fondo{
    width: 100%;
    height: 600px;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29),url(/assets/img/paisaje.jpg);
    background: linear-gradient(to right, #24243ea6, #302b638c, #0f0c2996),url(/assets/img/paisaje.jpg);
    background-repeat: no-repeat;
    text-align: center
}
.contenido_inicio{
    padding: 200px 0 0 0;

}
.contenido_inicio h3{
    font-size: 90px;

}
.contenido_inicio p{
    padding: 40px 0 0 0 ;
    font-size: 20px;
    font-weight: bold;
}
.barra_inicio{
    flex-wrap: wrap;
    display: flex;
    background: #6495ed40;
    padding: 20px 0px;
    text-align: center;
}
.nombre{
    padding: 0 150px 0 150px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #0e0e9ec7;
}
.barra_contenido{
    text-align: center;
    margin: auto;
}
.barra_contenido a{
    text-decoration:none;
    padding: 0 50px 0 50px;
    text-transform: uppercase;
    color: teal;
    font-weight: bold;
}
.primera_ola{
    background: url(/assets/img/efectoola.svg); 
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: -200px;
}    
footer h3{
    text-align: center;
    font-size: 60px;
    padding-bottom: 150px;
    margin-top: -180px;
}
.hobbies{
    flex-wrap: wrap;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.imagenhobbies{
    background: url(/assets/img/hobbies.png);
    width: 45%;
    height: 500px;
    background-size: cover;
    border: 0 0 0 30px;
    
    
}
.content_hobbies{
    width: 45%;
    padding-left: 80px;
}
.content_hobbies span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}
.content_hobbies p{
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
    

}


